@import "tailwindcss";

@theme{
	--breakpoint-sm: 600px;
		--breakpoint-md: 900px;
		--breakpoint-lg: 1200px;
		--breakpoint-xl: 1536px;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("/fonts/HelveticaNeueBlack.otf") format("opentype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("/fonts/HelveticaNeueHeavy.otf") format("opentype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("/fonts/HelveticaNeueBold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("/fonts/HelveticaNeueMedium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("/fonts/HelveticaNeueRoman.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("/fonts/HelveticaNeueLight.otf") format("opentype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("/fonts/HelveticaNeueThin.otf") format("opentype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("/fonts/HelveticaNeueUltraLight.otf") format("opentype");
	font-weight: 100;
	font-style: normal;
}

/* 
body {
	background-color: #fff;
} */

.category__content__wrapper+.category__content__wrapper {
	margin-top: 16px;
}

.category__content__wrapper:last-child>.category__header {
	border-bottom: none !important;
}

.ck-powered-by-balloon {
	display: none !important;
}

.editor__wrapper .ck-editor__editable {
	min-height: 175px;
	border: none !important;
	box-shadow: none !important;
	background: transparent !important;
	color: inherit !important;
}

.editor__wrapper .ck.ck-content {
	background: transparent !important;
	color: inherit !important;
}

.ck.ck-sticky-panel .ck-sticky-panel__content_sticky{
	box-shadow: none !important;
}

.ck-sticky-panel__content {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: 1px solid #D9D7D7 !important;
}

.styled__list {
	padding-left: 20px !important;
}

.styled__list li {
	list-style-type: disc !important;
}

.item__listing {
	max-height: calc(100% - 60px);
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.MuiPickersSectionList-section * {
	font-size: 16px;
}

.ck-content h1,
.general__content h1 {
	font-weight: 700;
	font-size: 64px;
	line-height: 89.67px;
}

.ck-content h2,
.general__content h2 {
	font-weight: 500;
	font-size: 48px;
	line-height: 67.25px;
}

.ck-content h3,
.general__content h3 {
	font-weight: 500;
	font-size: 32px;
	line-height: 44.8px;
}

.ck-content p,
.general__content p,
.general__content div {
	font-weight: 400;
	font-size: 16px;
	line-height: 22.4px;
}

.ck-content strong,
.general__content strong {
	font-weight: 600;
}

.curriculum__content+.curriculum__content {
	margin-top: 16px;
}

.MuiPickersSectionList-root {
	padding: 14px 0 !important;
}

.status {
	@apply py-0.5! px-2! rounded-md! max-w-fit! text-[12px]!;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #C1C1C1 #EEE;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: #EEE;
}

::-webkit-scrollbar-thumb {
	background-color: #C1C1C1;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #A8A8A8;
}

.primary__menu {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.primary__menu::-webkit-scrollbar {
	display: none;
}